html {
    position: relative;
    min-height: 100vh;
}

.body-content {
    margin-top: 50px;
    margin-bottom: 10vh;
    min-height: 80vh;
    width: 94vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 15px 5px rgb(61, 65, 65);
}

#createTableLink:hover {
    color: #27aae1;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95vw;
    margin-left: 2.5vw;
    text-align: center;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}