@model Dictionary<string, List<Tuple<string, string, string>>>

@{ ViewData["Title"] = "Database Schema"; }

<div class="container-fluid" style="padding-top: 5vh;
        border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    @foreach (var _table in Model)
    {
        <div class="col-xs-3">
            <div class="panel panel-info" style="border-radius: 0;">
                <div class="panel-heading" style="border-radius: 0;">
                    @_table.Key
                    <a asp-action="Index" asp-controller="Table" asp-route-Name="@_table.Key" class="pull-right">
                        <i class="fas fa-angle-double-right" style="font-size: 120%"></i>
                    </a>
                </div>
                <div class="panel-body" style="border-radius: 0;">
                    @foreach (var _column in _table.Value)
                    {
                        @if (_column.Item3 == "1")
                        {
                            <p><i class="fa fa-key"></i> @_column.Item1, @_column.Item2.ToLower()</p>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>