@{
    ViewData["Title"] = "SQL Manager";
}

@if (TempData.ContainsKey("Error"))
{
    <div class="row">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            <strong>@TempData["Error"]</strong>
        </div>
    </div>
}

<div class="col-xs-6 col-xs-offset-3">
    <div class="row">
            <h1>
                Welcome to SQL Manager
            </h1>
    </div>

    <div id="SQLType">
        <div class="row">
            <h3>
                Please select your SQL instance type
            </h3>
        </div>

        <div class="row">
            <form method="post" id="SelectSQL" onsubmit="return SelectSQL()">
                <div class="radio">
                    <label><input type="radio" name="sql" value="SQLServer" checked />SQL Server</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="sql" value="MySQL" />MySql</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="sql" value="SQLite" />SQLite</label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div id="SQLServer" class="hidden">
        <div class="row">
            <form method="post" role="form" asp-action="SQLServerContext" autocomplete="off">
                <legend>SQl Server's connection data</legend>

                <div class="form-group">
                    <label>SQL Server location</label>
                    <input type="text" class="form-control" name="_server" placeholder="IP or Domain" />
                </div>

                <div class="form-group">
                    <label>SQL Server database</label>
                    <input type="text" class="form-control" name="_db" />
                </div>

                <div class="form-group">
                    <label>User name</label>
                    <input type="text" class="form-control" name="_user" />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="_pass" />
                </div>

                <button type="submit" class="btn btn-primary">Connect</button>

                <a class="btn btn-primary" role="button" onclick="BackToServerTypes()">
                        Back
                </a>
            </form>
        </div>
    </div>

    <div id="MySQL" class="hidden">
        <div class="row">
            <form method="post" role="form" asp-action="MySQLContext" autocomplete="off">
                <legend>MySQL's connection data</legend>

                <div class="form-group">
                    <label>MySQL location</label>
                    <input type="text" class="form-control" name="_server" placeholder="IP or Domain" />
                </div>

                <div class="form-group">
                    <label>MySQL database</label>
                    <input type="text" class="form-control" name="_db" />
                </div>

                <div class="form-group">
                    <label>User name</label>
                    <input type="text" class="form-control" name="_user" />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="_pass" />
                </div>

                <button type="submit" class="btn btn-primary">Connect</button>

                <a class="btn btn-primary" role="button" onclick="BackToServerTypes()">
                        Back
                </a>
            </form>
        </div>
    </div>

    <div id="SQLite" class="hidden">
        <div class="row">
            <form method="post" role="form" asp-action="SQLiteContext" autocomplete="off">
                <legend>SQLite's connection data</legend>

                <div class="form-group">
                    <label>File path</label>
                    <input type="text" class="form-control" name="_server" placeholder="Provide full path" />
                </div>

                <button type="submit" class="btn btn-primary">Connect</button>

                <a class="btn btn-primary" role="button" onclick="BackToServerTypes()">
                        Back
                </a>
            </form>
        </div>
    </div>

</div>